<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico' />
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/js/jquery.titlealert.js"></script>
    {% block head %}
    {% end %}
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Chat</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              {% if user %}
                <li>
                  <a id="change_chater">
                    Change chater
                  </a>
                </li>
                <li>
                  <a id="enter_room" data-toggle="modal" role="button" data-target="#roomModal">
                    Start new talk
                  </a>
                </li>
                <li>
                  <a href="/all_rooms">
                    All talks
                  </a>
                </li>
                <li>
                  <a href="/logout" id="logout">
                    Logout
                  </a>
                </li>
              {% end %}
              {% block menu %}
              {% end %}
            </ul>
            <ul class="nav">
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row-fluid">
        <div class="span3 hidden-phone">
          <h3>People talks about</h3>
          <div id="rooms">
          </div>
        </div>
        <div id="messages" class="span9">
          {% block body %}
          {% end %}
        </div>
      </div>
    </div> <!-- /container -->
  {% include 'modals/create_room.html' %}
  </body>
  <script>
  function draw_rooms(data){
    var rooms = $('#rooms');
    rooms.empty();
    for(i in data){
      var room_data = data[i];
      var room_obj = $('<div />').addClass('lead')
                                 .addClass('text-info');
      var room_anc = $('<a />');
      room_anc.text('#'+room_data['name']);
      room_anc.attr('href', '/room/'+room_data['name']);
      var room_visitors = $('<span />').addClass('badge')
                                       .addClass('badge-warning');
      room_visitors.text(room_data['visitors']);
      room_obj.append(room_anc);
      room_obj.append(room_visitors);
      rooms.append(room_obj);
    }
  }
  $(function(){
   $('#enterRoom').on('click', function(e){
     var room = $('#inputRoom').val();
     if(room){
       window.location.replace("/room/"+room);
     }
   });
   $('#change_chater').on('click', function(e){
     e.preventDefault();
     if(window.location.pathname.split('/')[1] == 'chat'){
       $.ajax({
         url: '/change_chater'
       })
     }
     else{
       window.location.replace('/chat');
     }
   });
  })
  {% block script %}
  {% end %}
  $(function get_popular_rooms(){
    $.ajax({
      url: '/popular_rooms',
      success: function(data){
        draw_rooms(data);
      },
      complete: function(){
        setTimeout(get_popular_rooms, 60000);
      }
    })
  })
  </script>
</html>
