{% extends 'layout.html' %}

{% block head %}
  <script src="/static/js/socket.js"></script>
{% end %}

{% block menu %}
  <li>
    <a id="change_chater">
      Change chater
    </a>
  </li>
  <li>
    <a id="enter_room" data-toggle="modal" role="button" data-target="#roomModal">
      Start new talk
    </a>
  </li>
{% end %}

{% block body %}
<form method="POST" action="#" data-url="/msg" class="form-search">
  <div class="controls controls-row">
   <input class="span8 message-input" name="message" value="" placeholder="Enter your message here and press the 'Send' button."/>
   <input type="submit" value="Send" class="btn btn-large btn-primary span2"/>
  </div>
</form>
<div id="chat">
</div>
<hr/>
<div id="roomModal" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="roomModalLabel">Start new talk</h3>
  </div>
  <form class="form-horizontal">
  <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="inputRoom">#</label>
        <div class="controls">
          <input type="text" id="inputRoom" placeholder="talk">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button  id="enterRoom" class="btn btn-primary">Start</button>
  </div>
</div>
{% end %}

{% block script %}

var CHAT_URL = 'ws://78.46.243.214:8888/track';
//var CHAT_URL = 'ws://0.0.0.0:8888/track';

$(function(){
  $('#enterRoom').on('click', function(e){
    var room = $('#inputRoom').val();
    if(room){
      window.location.replace("/room/"+room);
    }
  });
  $('#change_chater').on('click', function(e){
    e.preventDefault();
    $.ajax({
      url: '/change_chater'
    })
  });
  $('input[type=submit]').on('click', function(e){
    e.preventDefault();
    var button = $(this);
    var form = button.parents('form');
    if(form.find('input[name=message]').val()){
        show_message(form.find('input[name=message]').val(), 'me');
        $.ajax({
          method: 'POST',
          url: form.data('url'),
          data: form.serialize(),
          success: form[0].reset()
        })
    }
  });
  open_websocket(CHAT_URL);
});
{% end %}
