{% extends 'layout.html' %}

{% block head %}
  <script src="/static/js/socket.js"></script>
{% end %}

{% block menu %}
  <li>
    <a id="change_chater">
      Change chater
    </a>
  </li>
{% end %}

{% block body %}
<form method="POST" action="#" data-url="/msg">
 <input name="message" style="width: 500px;height: 45px;border: 1px solid #CCC;padding: 3px;" value="" placeholder="Enter your message here and press the 'Send' button."/>
 <input type="submit" value="Send" class="btn btn-large btn-primary"/>
</form>
<div id="chat">
</div>
<hr/>
{% end %}

{% block script %}

var CHAT_URL = 'ws://0.0.0.0:8888/track';

$(function(){
  $('#change_chater').on('click', function(e){
    e.preventDefault();
    $.ajax({
      url: '/change_chater'
    })
  });
  $('input[type=submit]').on('click', function(e){
    e.preventDefault();
    var button = $(this);
    var form = button.parents('form');
    show_message(form.find('input[name=message]').val(), 'me');
    $.ajax({
      method: 'POST',
      url: form.data('url'),
      data: form.serialize(),
    })
  });
  open_websocket(CHAT_URL);
});
{% end %}
