{% extends 'layout.html' %}
{% block head %}
  <script src="/static/js/socket.js"></script>
{% end %}
{% block menu %}
  <li>
    <a href="/chat">
      Personal chat
    </a>
  </li>
{% end %}

{% block body %}
<h3> You're talking about #{{ room }}</h3>
<form method="POST" action="#" data-url="/room_msg/{{ room }}" autocomplete="off">
  <div class="controls controls-row">
   <input class="span8 message-input" name="message" value="" placeholder="Enter your message here and press the 'Send' button."/>
   <input type="submit" value="Send" class="btn btn-large btn-primary span2"/>
  </div>
</form>
<div id="chat">
</div>
<hr/>
{% end %}

{% block script %}

var CHAT_URL = 'ws://{{ url }}/ws/room_track/{{ room }}';
//var CHAT_URL = 'ws://0.0.0.0:8888/room_track/{{ room }}';

$(function(){
  $('#change_chater').on('click', function(e){
    e.preventDefault();
    $.ajax({
      url: '/change_chater'
    })
  });
  $('input[type=submit]').on('click', function(e){
    e.preventDefault();
    var button = $(this);
    var form = button.parents('form');
    if(form.find('input[name=message]').val()){
        $.ajax({
          method: 'POST',
          url: form.data('url'),
          data: form.serialize(),
          success: form[0].reset()
        })
    }
  });
  open_websocket(CHAT_URL);
});
{% end %}
